<section>
  <aside>
    <h3>Serviços</h3>
    <div class="servicos">
      <aside class="colunaServico">
        <div class="iconServico">
          <img src="assets/socialMediaDesing.png" alt="Foto de Social Media Desing">
        </div>
        <div>
          <h4>Social Media Desing</h4>
          <h5>Apresento soluções especializadas em desenvolver designs </h5>
          <h5>criativos, intuitivo e envolvente para interfaces das suas redes sociais</h5>
          <strong>(Instagram, WhatsApp e Facebook)</strong>
        </div>
      </aside>
      <aside class="colunaServico">
        <div class="iconServico">
          <img src="assets/frontEnd.png" alt="Foto de Front End">
        </div>
        <div>
          <h4>FrontEnd</h4>
          <h5>Crio interfaces especializadas para proporcionar</h5>
          <h5>websites responsivos,abrangendo desde a codificação até </h5>
          <strong>a incorporação de <span>animações e interações</span>, proporcionado </strong>
          <h5>ao usuário uma experiencia intuitiva e otimizada.</h5>
        </div>
      </aside>
      <aside class="colunaServico">
        <div class="iconServico">
          <img src="assets/programacaoWeb.png" alt="Foto de Programacao Web">
        </div>
        <div>
          <h4>Programação Web</h4>
          <h5>Do desenvolvimento front-end ao back-end, possuo habilidades</h5>
          <h5>para criar aplicações atraentes e inteligentes, visando transformar</h5>
          <strong><span>websites em soluções eficientes</span> e de alta performance para os usuários.</strong>
        </div>
      </aside>
    </div>
  </aside>
</section>
