$azul: #3DA5D9;
$azulEscuro: #2364AA;
$azulClaro: #A2D6F9;
$branco: #F9F9F9;
$laranja: #EA7317;

section {
  background-color: $laranja;
}

h4 {
  font-weight: 700;
  font-size: clamp(2.5rem, 2.5rem + 10vw, 2.5rem);
}

h5 {
  font-family: 'Montserrat', Poppins;
  font-weight: 600;
  font-size: clamp(2rem, 2rem + 10vw, 2rem);
}

strong {
  font-family: 'Fuzzy Bubbles', Poppins;
  font-weight: 700;
  font-size: clamp(2rem, 2rem + 10vw, 2rem);
}

span {
  color: $azulEscuro;
}

.servicos {
  display: flex;
  flex-direction: column;
}

.colunaServico {
  display: flex;
  flex-direction: row;
  margin-bottom: 3.1rem;
  gap: 2.5em;
}

.iconServico {
  position: relative;
  max-width: 12.5rem;
  max-height: 12.5rem;
}

@media (min-width: 25em) and (max-width: 76em) {

  .colunaServico {
    display: block;
  }

}
