<section>
  <aside>
    <h1>Serviços</h1>
    <div class="servicos">
      <aside class="colunaServico">
        <img ngSrc="assets/socialMediaDesing.png" width="200" height="200">
        <div>
        <h2>Social Media Desing</h2>
        <h3>Apresento soluções especializadas em desenvolver designs </h3>
        <h4>criativos, intuitivo e envolvente para interfaces das suas redes sociais</h4>
        <h5>(Instagram, WhatsApp e Facebook)</h5>
        </div>
      </aside>
      <aside class="colunaServico">
        <img ngSrc="assets/frontEnd.png" width="200" height="200">
        <div>
        <h2>FrontEnd</h2>
        <h3>Crio interfaces especializadas para proporcionar websites</h3>
        <h4>responsivos, abrangendo desde a codificação até a incorporação</h4>
        <h4>de <span>animações e interações</span>, proporcionado ao usuário uma experiencia intuitiva e otimizada.</h4>
        </div>
      </aside>
      <aside class="colunaServico">
        <img ngSrc="assets/programacaoWeb.png" width="200" height="200">
        <div>
        <h2>Programação Web</h2>
        <h3>Do desenvolvimento front-end ao back-end, possuo habilidades</h3>
        <h4>para criar aplicações atraentes e inteligentes, visando transformar</h4>
        <h4><span>websites em soluções eficientes</span> e de alta performance para os usuários.</h4>
        </div>
      </aside>
    </div>
  </aside>
</section>
