$azul: #3DA5D9;
$azulEscuro: #2364AA;
$azulClaro: #A2D6F9;
$branco: #F9F9F9;
$preto: #0D0D0D;
$laranja: #EA7317;

strong {
  font-weight: 700;
  font-size: clamp(1.25rem, 1.25rem + 10vw, 1.25rem);
  color: $branco;
}

h4 {
  font-weight: 600;
  font-size: clamp(2.3rem, 2.3rem + 10vw, 2.3rem);
}

h5 {
  font-weight: 700;
  font-size: clamp(1rem, 1rem + 10vw, 1rem);
  color: $preto;
}

h6 {
  font-weight: 700;
  font-size: clamp(2.5rem, 2.5rem + 10vw, 2.5rem);
  color: $branco;
}

span {
  color: $laranja;
}

footer {
  display: flex;
  justify-content: center;
  background-color: $branco;
  color: $preto;
  height: 6.2vh;
  width: 100%;
}

.contato {
  display: flex;
  flex-direction: column;
  align-items: flex-start
}


.margin-10 {
  margin-bottom: 1.3vh;
}

.margin-30 {
  margin-bottom: 4vh;
}

.listaLink {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}

.botaoLink {
  background-color: $azulEscuro;
  max-height: 14.7vh;
  max-width: 14.7vh;
  border-radius: 100%;
}

.botao-curriculo {
  width: 67vh;
  height: 10.9vh;
  border-radius: 3.2vh;
  background-color: $azul;
  color: $branco;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 4.9vh;
  margin-top: 10.7vh;
  margin-bottom: 29.0vh;
}


