$azul: #3DA5D9;
$azulEscuro: #2364AA;
$azulClaro: #A2D6F9;
$branco: #F9F9F9;
$preto:#0D0D0D;
$laranja: #EA7317;

section{
  padding-left: 20vh;
  display: flex;
  flex-direction: row;
  gap: 22px
}

h1{
  font-size: 15.51vh;
  font-weight: 800;
}

h2{
  font-size: 6.3vh;
  font-weight: 500;
}

h3{
font-size: 6.8vh;
font-weight: 600;
}

h4{
font-size: 6.8vh;
font-weight: 600;
font-family: "Montserrat";
}

h5{
  font-size: 4.1vh;
  font-weight: 500;
}
span{
  color: $laranja;
}

.listaLink{
  padding-top: 6.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4.6vh;
}

.gap-40{
  display: flex;
  gap:6.8vh;
}

.botaoLink{
  background-color: $azulEscuro;
  max-height: 14.7vh;
  max-width: 14.7vh;
  border-radius: 100%;
}

.conteComigo{
display: flex;
flex-direction: column;
padding-top: 21.2vh;
}

.botao-curriculo{
  width: 67vh;
  height: 10.9vh;
  border-radius: 3.2vh;
  background-color: $azul;
  color: $branco;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 4.9vh;
}

footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  background-color: $branco;
  color: $preto;
  height: 6.2vh;
  width: 100%;
}

