<section>
  <aside>
    <h3>Entre em contato</h3>
    <aside class="contato padTop-50">
      <div class="listaLink">
        <div>
        <h6>Onde me encontrar</h6>
        </div>
        <div>
          <button class="botaoLink">
            <img src="assets/github.png"
            alt="Logo github">
          </button>
          <button class="botaoLink">
            <img src="assets/email.png"
            alt="Logo email">
          </button>
          <button class="botaoLink">
            <img src="assets/linkedin.png"
            alt="Logo linkedin">
          </button>
          <button class="botaoLink">
            <img src="assets/discord.png"
            alt="Logo discord">
          </button>
        </div>
      </div>
      <div>
        <h6>Tenho um perfil de inovação e gosto de participar</h6>
        <h6>de projetos tecnológicos desafiadores.</h6>
        <h6>Qual será nosso desafio? <span>Conte comigo!</span></h6>
      </div>
      <button class="botao-curriculo">
        Download currículo
      </button>
    </aside>
  </aside>
</section>
<footer>
    <h5>Desenvolvido por <span>Gesser Leal</span> | 2024 todos os direitos reservados</h5>
</footer>
