$azul: #3DA5D9;
$azulEscuro: #2364AA;
$azulClaro: #A2D6F9;
$branco: #F9F9F9;
$laranja: #EA7317;

header {
  display: flex;
  flex-direction: row;
  padding-left: 9rem;
  padding-top: 1rem;
  justify-content: space-around;
}

h1 {
  font-weight: 800;
  font-size: clamp(5rem, 1rem + 10vw, 5rem);
}

h2 {
  font-family: 'Montserrat', Poppins;
  font-weight: 600;
  font-size: clamp(1.4rem, 1.4rem + 10vw, 1.4rem);
}

.nomeSite,
.menu {
  display: flex;
}

.menu {
  flex-direction: row;
  gap: 1.4rem;
  padding-top: 3rem;
}
