
<section>
  <aside>
    <h1>Projetos</h1>
    <aside class="projetos padTop-50">
      <img ngSrc="assets/californiaTabacaria.png" height="440" width="692">
      <div>
        <h2>Califórnia Tabacaria</h2>
        <div class="ferramentas">
          <div class="container">
            <h4>Figma</h4>
          </div>
          <div class="container">
            <h4>Desing Social</h4>
          </div>
          <div class="container">
            <h4>Instagram</h4>
          </div>
        </div>
        <h3>Inspirado nas cores ensolaradas da costa oeste,criamos uma identidade visual única e chamativa que reflete o espírito da sua marca. </h3>
        <h3>Com ícones renovados para plataformas como Instagram e fontes personalizadas,sua presença online ganha vida e autenticidade.</h3>
        <aside class="divLink">
          <div class="link">
            <button class="botaoFigma">
              <img ngSrc="assets/figmaBotao.png"
              alt="Logo figma"
              height="70"
              width="60"
            >
            </button>
            <button class="botao">
              <h5>Figma</h5>
            </button>
          </div>
          <div class="link">
            <button class="botaoFigma">
              <img ngSrc="assets/instagramBotao.png"
              alt="Logo figma"
              height="70"
              width="60"
            >
            </button>
            <button class="botao">
              <h5>Instagram</h5>
            </button>
          </div>
        </aside>
      </div>
    </aside>
  </aside>
</section>
