$azul: #3DA5D9;
$azulEscuro: #2364AA;
$azulClaro: #A2D6F9;
$branco: #F9F9F9;
$laranja: #EA7317;

section {
  background-color: $branco;
  color: $azulEscuro;
}

strong {
  font-weight: 700;
  font-size: clamp(1.25rem, 1.25rem + 10vw, 1.25rem);
  color: $branco;
}

h4 {
  font-family: 'Montserrat', Poppins;
  font-weight: 800;
  font-size: clamp(2.8rem, 2.8rem + 10vw, 2.8rem);
  color: $azulEscuro;
}

h5 {
  font-weight: 700;
  font-size: clamp(1.5rem, 1.5rem + 10vw, 1.5rem);
  color: $azulEscuro;
}

.projetos {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.ferramentas {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 3.2vh;
  padding-bottom: 2.5vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2vh;
  border-radius: 1.3vh;
  background-color: $azulEscuro;
}

.divLink {
  display: flex;
  flex-direction: row;
  gap: 8.5rem;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.botao {
  background-color: $branco;
  border: none
}

.bring {
  position: relative;
  max-width: 43rem;
  max-height: 27.5rem;
}

@media (min-width: 25em) and (max-width: 76em) {

  .projetos {
    flex-direction: column;
  }
  
}
