<section>
  <aside>
    <h3>Projetos</h3>
    <aside class="projetos padTop-50">
      <div>
        <img class="bring" src="assets/californiaTabacaria.png">
      </div>
      <div>
        <h4>Califórnia Tabacaria</h4>
        <div class="ferramentas">
          <div class="container">
            <strong>Figma</strong>
          </div>
          <div class="container">
            <strong>Desing Social</strong>
          </div>
          <div class="container">
            <strong>Instagram</strong>
          </div>
        </div>
        <h5>Inspirado nas cores ensolaradas da costa oeste,criamos uma identidade visual única e chamativa que reflete o
          espírito da sua marca. </h5>
        <h5>Com ícones renovados para plataformas como Instagram e fontes personalizadas,sua presença online ganha vida
          e autenticidade.</h5>
        <aside class="divLink">
          <div class="link">
            <button class="botao">
              <img src="assets/figmaBotao.png" alt="Logo figma">
            </button>
            <button class="botao">
              <h5>Figma</h5>
            </button>
          </div>
          <div class="link">
            <button class="botao">
              <img src="assets/instagramBotao.png" alt="Logo instagram">
            </button>
            <button class="botao">
              <h5>Instagram</h5>
            </button>
          </div>
        </aside>
      </div>
    </aside>
  </aside>
</section>
