/* body {
  width: 100%;
  font-size: 100%;
  background: #f8eede;
  background-size: auto;
  background-repeat: no-repeat;
} */

#home {
  display: flex;
  background-image: url("../../../assets/gesser-fundo.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  //opacity: 0.7;
}
