<body>
  <!-- CABEÇALHO -->
  <header>
    <nav>
      <a mat-button href="#sobre">Gesser Filho</a>

      <button class="hamburger" mat-button><mat-icon>menu</mat-icon></button>

      <ul class="nav-list">
        <a mat-button href="#home">HOME</a>
        <a mat-button href="#sobre">SOBRE MIM</a>
        <a mat-button href="#tecnologia">TECNOLOGIA</a>
        <a mat-button href="#projeto">PROJETO</a>
        <a mat-button href="#contato">CONTATO</a>
      </ul>
    </nav>
  </header>
  <!-- HOME -->
  <main>
    <section id="home">
      <aside>
        <h1>Desenvolvedor</h1>
        <h2>Front-End JR.</h2>
      </aside>
      <aside>
        <button mat-button href="#sobre">SOBRE MIM</button>
        <button mat-button href="#contato">CONTATO</button>
      </aside>
    </section>
    <!-- SOBRE MIM -->
    <section id="sobre">
      <div>
        <article>Minha Foto</article>
        <div>
          <aside>
            <h1>Sobre mim</h1>
            <h4>
              Gesser Leal, 21 anos, Baiano residente de Salvador, Bacharel em
              Ciência da computação Universidade Salvador (7 semestres Unifacs).
              Atribuo-me de especializações na área de TI, design gráfico com
              foco em agregar meus conhecimentos de desenvolvedor geral. Sempre
              envolvido e informado nas novidades de criação de interfaces,
              seguindo conceitos atuais e responsivos, dando prioridade à
              usabilidade de sistemas.
            </h4>
            <button mat-button>Curriculo</button>
          </aside>
          <aside>
            <h1>Experiência</h1>
            <h4>
              Estagiário em Ti, responsável pelo desenvolvimento do sistema
              geral Full Stack. Função focal front end, gerindo todo ordenamento
              estético de elementos destinado a entrega da comunicação visual.
            </h4>
          </aside>
        </div>
      </div>
    </section>
    <!-- Tecnologias -->
    <section id="tecnologia">
      <aside>
        <h1>Tecnologias</h1>
        <h5>confira as tecnologias que utilizo!</h5>
      </aside>
      <div>
        <article>
          <h4>Angula Js</h4>
        </article>
        <h5>
          framework JavaScript código aberto, mantido pelo Google, que auxilia
          na execução de single-page applications.
        </h5>
      </div>
      <div>
        <article>
          <h4>Html</h4>
        </article>
        <h5>
          framework JavaScript código aberto, mantido pelo Google, que auxilia
          na execução de single-page applications.
        </h5>
      </div>
      <div>
        <article>
          <h4>Css</h4>
        </article>
        <h5>
          framework JavaScript código aberto, mantido pelo Google, que auxilia
          na execução de single-page applications.
        </h5>
      </div>
    </section>
    <!-- Projetos -->
    <section id="projeto">
      <h1>Projetos</h1>
    </section>
    <!-- Contato -->
    <section id="contato">
      <aside>
        <h3>Contatos</h3>
        <h4>Onde me encotrar:</h4>
      </aside>
      <aside>
        <a link href="https://github.com/glealnunes">GitHub</a>
        <a link href="https://github.com/glealnunes">Email</a>
        <a link href="https://www.linkedin.com/in/gesser-filho-0abb09150">LinkedIn</a>
      </aside>
    </section>
  </main>
</body>
