$azul: #3DA5D9;
$azulEscuro: #2364AA;
$azulClaro: #A2D6F9;
$branco: #F9F9F9;
$laranja: #EA7317;

$background-image: url('/assets/fotoPerfil.png');
$background-size: cover;
$background-position: center center;
$background-repeat: no-repeat;

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home {
  padding-top: 13em;
  display: flex;
  flex-direction: column;
  max-height: 97.9vh;
}

h3,
h4,
h5 {
  font-size: clamp(7.5rem, 7.5rem + 10vw, 7.5rem);
}

h4,
h5,
h3 {
  font-weight: 500;
  margin: 0;
}

span {
  color: $laranja;
}

.lista-botoes {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.botao-curriculo {
  width: 67vh;
  height: 10.9vh;
  border-radius: 3.2vh;
  background-color: $azul;
  color: $branco;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 4.9vh;
}

.botao-site {
  background-color: $azulEscuro;
  max-height: 90px;
  max-width: 90px;
  border-radius: 100%;
}

.fotoPerfil {
  position: relative;
  max-width: 39rem;
  max-height: 100%;
}

.botaoSecundario {
  display: flex;
  flex-direction: row;
}

@media (min-width: 25em) and (max-width: 76em) {

  section {
    background-image: $background-image;
    background-size: $background-size;
    background-position: $background-position;
    background-repeat: $background-repeat;
    height: 74rem;
  }

  h3,
  h4,
  h5 {
    font-size: clamp(6rem, 6rem + 10vw, 6rem);
  }

  .home {
    padding-top: 33em;
  }

  .fotoPerfil {
    display: none;
  }

  .lista-botoes {
    margin-top: 0rem;
    flex-direction: column;
  }

  .lista-botoes {
    align-items: flex-start;
  }

}
