$azul: #3DA5D9;
$azulEscuro: #2364AA;
$azulClaro: #A2D6F9;
$branco: #F9F9F9;
$laranja: #EA7317;


.home{
  padding-left: 20vh;
  display: flex;
  flex-direction: row;
  gap: 22px
}

.home-div{
display: flex;
flex-direction: column;
}
.home-titulo{
  font-size: 18vh;
  font-weight: 500;
}
.home-subtitulo{
  font-size: 21vh;
  font-weight: 600;
}
.negrito-laranja{
  color: $laranja;
}
.home-nome{
  font-size: 16vh;
  font-weight: 600;
}
.foto-perfil{
  max-width: 104vh;
  max-height:  141.6vh;
}
.lista-botao{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.botao-site{
  background-color: $azulEscuro;
  max-height: 14.7vh;
  max-width: 14.7vh;
  border-radius: 100%;
}
.imagem-site{
  height: 14.7vh;
  width: 14.7vh;
}
.botao-curriculo{
  width: 67vh;
  height: 10.9vh;
  border-radius: 3.2vh;
  background-color: $azul;
  color: $branco;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 4.9vh;
}
