<main>
  <app-header></app-header>
  <section>
    <aside class="home">
      <div>
        <h3>Frontend</h3>
        <h4>Develo<span>per.</span></h4>
        <h5>Gesser Leal</h5>
      </div>
      <div class="lista-botoes">
        <button mat-raised-button class="botao-curriculo" (click)="downloadCurriculo()">
          Download currículo
        </button>
        <div class="botaoSecundario">
          <a class="botao-site" mat-fab href="https://www.linkedin.com/in/gesser-filho-0abb09150">
            <img src="assets/linkedin.png" alt="Logo linkedin">
          </a>
          <a class="botao-site" mat-fab href="https://github.com/glealnunes">
            <img src="assets/github.png" alt="Logo Github">
          </a>
          <a  class="botao-site" mat-fab href="https://discord.gg/CQh7Ut6m">
            <img src="assets/discord.png" alt="Logo Discord">
          </a>
        </div>
      </div>
    </aside>
    <div class="fotoPerfil">
      <img src="assets/fotoPerfil.png" alt="Foto de Perfil">
    </div>
  </section>
  <app-informacoes></app-informacoes>
  <app-servicos></app-servicos>
  <app-tecnologia></app-tecnologia>
  <app-projetos></app-projetos>
  <app-contato></app-contato>
</main>
