<section>
  <aside>
    <h3>Tec<br><span>nologias</span></h3>
    <div class="pad-10">
      <h4>Minha jornada na tecnologia é marcada por conquistas sólidas.</h4>
      <h4>Especialista em Angular,HTML, CSS, e SASS, destaco-me na construção de interfaces envolventes.</h4>
    </div>
    <div class="pad-10">
      <h5>A eficiente utilização do Figma e domínio do GitHub evidenciam</h5>
      <h5>minha comunicação eficaz e colaboração fluida em equipes.</h5>
    </div>
    <div class="pad-20">
      <h4>No backend, sou experiente em Node.js e SQL,compreendendo o ciclo</h4>
      <h4>completo do desenvolvimento. Meu comprometimento com o aprendizado contínuo</h4>
      <strong>destaca-se na exploração de tecnologias móveis como <span>Flutter e Ionic</span>.</strong>
    </div>
  </aside>
  <aside class="tecnologias">
    <div class="listaTec">
      <img src="assets/angula.png">
      <img src="assets/html.png">
      <img src="assets/css.png">
    </div>
    <div class="listaTec">
      <img src="assets/sass.png">
      <img src="assets/figma.png">
      <img src="assets/git.png">
    </div>
    <div class="listaTec">
      <img src="assets/javascript.png">
      <img src="assets/typescript.png">
      <img src="assets/flutter.png">
    </div>
    <div class="listaTec">
      <img src="assets/ionic.png">
      <img src="assets/nodejs.png">
      <img src="assets/sql.png">
    </div>
  </aside>
</section>
