<section>
  <aside>
    <h1>Tec
      <br>nolo<span class="laranja">gias</span>
    </h1>
    <div class="pad-5">
      <h2>Minha jornada na tecnologia é marcada por</h2>
      <h2>conquistas sólidas. Especialista em Angular,</h2>
      <h3>HTML, CSS, e SASS, destaco-me na construção de interfaces envolventes.</h3>
    </div>
    <div class="pad-5">
      <h4>A eficiente utilização do Figma e domínio do GitHub evidenciam</h4>
      <h4>minha comunicação eficaz e colaboração fluida em equipes.</h4>
    </div>
    <div class="pad-26">
      <h5>No backend, sou experiente em Node.js e SQL,</h5>
      <h5>compreendendo o ciclo completo do desenvolvimento.</h5>
      <h5>Meu comprometimento com o aprendizado contínuo</h5>
      <h5>destaca-se na exploração de tecnologias móveis como <span class="fuzzyBubles">Flutter e Ionic</span>.</h5>
    </div>
  </aside>
  <aside class="tecnologias">
    <div class="listaTec">
      <img ngSrc="assets/angula.png" height="148" width="150">
      <img ngSrc="assets/html.png" height="148" width="150">
      <img ngSrc="assets/css.png" height="148" width="150">
    </div>
    <div class="listaTec">
      <img ngSrc="assets/sass.png" height="148" width="150">
      <img ngSrc="assets/figma.png" height="148" width="150">
      <img ngSrc="assets/git.png" height="148" width="150">
    </div>
    <div class="listaTec">
      <img ngSrc="assets/javascript.png" height="148" width="150">
      <img ngSrc="assets/typescript.png" height="148" width="150">
      <img ngSrc="assets/flutter.png" height="148" width="150">
    </div>
    <div class="listaTec">
      <img ngSrc="assets/ionic.png" height="148" width="150">
      <img ngSrc="assets/nodejs.png" height="148" width="150">
      <img ngSrc="assets/sql.png" height="148" width="150">
    </div>
  </aside>
</section>
