$azul: #3DA5D9;
$azulEscuro: #2364AA;
$azulClaro: #A2D6F9;
$branco: #F9F9F9;
$laranja: #EA7317;

span {
  color: $laranja;
}

h4 {
  font-family: 'Montserrat', Poppins;
  font-weight: 600;
  font-size: clamp(2.8rem, 2.8rem + 10vw, 2.8rem);
}

h5 {
  font-weight: 600;
  font-size: clamp(2.5rem, 2.5rem + 10vw, 2.5rem);
}

.padTop-50 {
  padding-top: 3.1em;
}
