<section>
  <aside>
    <h3>Mais<br><span>informações</span></h3>
    <h4>Sou Gesser Leal, baiano, graduado em Ciência da Computação</h4>
    <h4>e tenho <span>04 anos de experiência</span> em desenvolvimento de software,</h4>
    <h4>com especialização em Front-End.</h4>
    <div class="padTop-50">
      <h5>Confira minhas especialidades:</h5>
      <h5>- Linguagem Angular combinada com Node.js</h5>
      <h5>- ⁠Desenvolvimento de FrontEnd</h5>
      <h5>- ⁠Administração de Sistemas e gestão de projetos</h5>
      <h5>- ⁠Social Media Designer</h5>
    </div>
  </aside>
</section>
