<section>
  <aside>
    <h1>Mais<br><span>informações</span></h1>
    <h2>Sou Gesser Leal, baiano, graduado em Ciência da Computação
      e tenho <span>04 anos de experiência</span> em desenvolvimento de software,
      com especialização em Front-End.
    </h2>
    <div class="padTop-50">
      <h3>Confira minhas especialidades:</h3>
      <h4>- Linguagem Angular combinada com Node.js</h4>
      <h4>- ⁠Desenvolvimento de FrontEnd</h4>
      <h4>- ⁠Administração de Sistemas e gestão de projetos</h4>
      <h4>- ⁠Social Media Designer</h4>
    </div>
  </aside>
</section>


