body {
  margin: 0 auto;
  font-family: "Montserrat-Regular";
  font-size: 100%;
  background-color: #f8eede;
  color: #ba431d;
  //max-width: 1200px;
  padding: 2px
}

@font-face {
  font-family: "Montserrat";
  src: url(assets/fonts/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(assets/fonts/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(assets/fonts/Montserrat-Bold.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
}
